.profile__about {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 530px;
}

@media (max-width: 880px) {
  .profile__about {
    margin: 14px auto 36px;
    max-width: 200px;
    justify-self: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
