.profile__edit-button {
  background-image: url("../../../images/Edit_Button.svg");

  background-color: black;
  width: 24px;
  height: 24px;
  border: 0;
  align-self: center;
  padding: 0;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 880px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}
