.form__title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px;
}

@media (max-width: 880px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
