.profile__avatar-icon {
  transition: opacity 0.2s linear 0.1s;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.profile__avatar-icon:hover {
  cursor: pointer;
  opacity: 1;
}

@media (max-width: 880px) {
  .profile__avatar-icon {
    max-width: 120px;
    margin-left: 71px;
    max-height: 120px;
  }
}
