@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/form/__question/form__question.css);
@import url(./blocks/form/__question/_link/form__question_link.css);
@import url(./blocks/element/__like-amount/element__like-amount.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar-icon/profile__avatar-icon.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/modal/modal.css);
@import url(./blocks/modal/__form/modal__form.css);
@import url(./blocks/modal/__close/modal__close.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_error-active/form__input_error-active.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__submit-button/_disabled/form__submit-button_disabled.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/modal/_show/modal_show.css);
@import url(./blocks/modal/_show-img/modal_show-img.css);
@import url(./blocks/modal/__photo/modal__photo.css);
@import url(./blocks/modal/__title/modal__title.css);
@import url(./blocks/modal/__conteiner/modal__conteiner.css);
@import url(./blocks/form/__title/_auth/form__title_auth.css);
@import url(./blocks/form/__input/_auth/form__input_auth.css);
@import url(./blocks/form/__submit-button/_auth/form__submit-button_auth.css);
@import url(./blocks/form/__submit-button/_auth-enterance/form__submit-button_auth-enterance.css);
@import url(./blocks/modal/__info/modal__info.css);
@import url(./blocks/modal/__info-title/modal__info-title.css);
@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_exit/header__link_exit.css);
